<ion-header> </ion-header>

<ion-content class="card-background-page">
  <div class="ion-padding">
    <ion-button color="primary" routerLink="/login/">Login</ion-button>
    <ion-button color="primary" routerLink="/register/">Sign Up</ion-button>
  </div>
  <ion-card>
    <img
      src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/homemade-milk-bubble-tea-royalty-free-image-1000167478-1546450160.jpg"
    />
    <div class="card-title">Place</div>
    <div class="card-subtitle">Welcome To Shop</div>
  </ion-card>
</ion-content>
